SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json
{
  "Comment": "Get My Prescriptions State Machine",
  "StartAt": "Get My Prescriptions",
  "States": {
    "Get My Prescriptions": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${GetMyPrescriptionsFunctionArn}"
      },
      "Next": "Get My Prescriptions Result",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "Catch All Error"
        }
      ]
    },
    "Get My Prescriptions Result": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.Payload.statusCode",
            "NumericEquals": 200
          },
          "Next": "Failed Get My Prescriptions"
        }
      ],
      "Default": "Get Toggle Get Status Updates Parameter"
    },
    "Get Toggle Get Status Updates Parameter": {
      "Type": "Task",
      "Next": "Evaluate Toggle Get Status Updates Parameter",
      "Parameters": {
        "Name": "${ToggleGetStatusUpdatesParameterName}"
      },
      "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
      "ResultPath": "$.ToggleGetStatusUpdatesParameter"
    },
    "Evaluate Toggle Get Status Updates Parameter": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.ToggleGetStatusUpdatesParameter.Parameter.Value",
          "StringMatches": "true",
          "Next": "Get Status Updates"
        }
      ],
      "Default": "Enrich Prescriptions"
    },
    "Get Status Updates": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${GetStatusUpdatesFunctionArn}"
      },
      "InputPath": "$.Payload.body.statusUpdateData",
      "Next": "Get Status Updates Result",
      "ResultPath": "$.StatusUpdates"
    },
    "Get Status Updates Result": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.StatusUpdates.Payload.isSuccess",
            "StringEquals": "true"
          },
          "Next": "Catch All Error"
        }
      ],
      "Default": "Enrich Prescriptions"
    },
    "Enrich Prescriptions": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "${EnrichPrescriptionsFunctionArn}"
      },
      "End": true,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "Catch All Error"
        }
      ]
    },
    "Failed Get My Prescriptions": {
      "Type": "Pass",
      "End": true
    },
    "Catch All Error": {
      "Type": "Pass",
      "Result": {
        "Payload": {
          "statusCode": 500,
          "headers": {
            "Content-Type": "application/fhir+json",
            "Cache-Control": "no-cache"
          },
          "body": "{\"resourceType\":\"OperationOutcome\",\"issue\":[{\"severity\":\"error\",\"code\":\"processing\",\"diagnostics\":\"System error\"}]}"
        }
      },
      "End": true
    }
  }
}
